/*標籤選擇器*/
body{
    background-color:rgb(151, 155, 149);
  }
   /*ID選擇器*/
   #title{   text-decoration: line-through;
            font-size: 25px;
   }
/*class選擇器*/
.title{     margin-bottom: 20px;
            font-weight: bold;
            font-size: 24px;
}
.content{   border: 1px
            dashed blue;
            color: black;
    }
.keywoed{
            color:  red;
}