body{
    background-image: url("https://images.unsplash.com/photo-1685524581008-41012ab2f89c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80");
}
.frame{
        display: flex;/*讓下一層水平排列*/
}
.left{
        background-color: rgb(253, 251, 251);
        flex: none;/*固定配置*/
        width: 50%;
}
.right{
        display: flex;/*讓下一層水平排列*/
        justify-content: flex-end;/*讓下一層水平排列*/
        background-color: rgb(249, 249, 253);
        flex: auto;/*自動把剩下的填滿*/
        
}
.content{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: cadetblue;
    margin-bottom:10px;
    margin-top:-10px;
    margin-left: 10px;
    
}

.item{
    background-color: rgb(241, 240, 208);
    text-align: center;
    margin-top:10px;
    font-size: 20px;
    width: 1000px;
    height: 300px;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 10px;
    
}
.title content{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top:10px;
    font-size: 20px;
    width: 1000px;
    height: 150px;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom:10px;
}


.welcome{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;/*垂直對其*/
    background-color: rgb(178, 181, 184);
}
.text{
    width: 500px;
    height: 100px;
    background-color: rgb(241, 240, 208);
    font-size: 50px;
    text-align:center
}